.all-reviews-container{
 
    
}

.all-reviews{

  
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    gap: 2rem 0px;
   max-width: 1200px;
   margin:3rem  auto;
}

@media screen and (max-width:668px) {

    .all-reviews{
        grid-template-columns: repeat(1 , 1fr);
        gap: 1rem 0px;
    }
    .all-reviews-container h1{
        font-size: 1.5rem;
    }
    
}