.nav-container{
   margin-top: 3rem;
   text-align: center;
   
}
.nav-container a {
    margin:0px 1rem;
    font-size: 1.3rem;
    font-weight: 600;
}
@media screen  and (max-width:668px){
    .nav-style{
        display: flex;
        flex-direction: column;
    }
    
}