.home-container {
    margin-top: 1.3rem;
    margin-bottom: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: all;
    
}
.home-container img {
    width: 90vh;
   
}
.text-content{
    margin-top: 1.2rem;
    max-width: 700px;
}
.button-content{
    margin-left: 1rem;
    font-size: 23px;
}

@media screen and (max-width:668px) {
    .home-container {
        flex-direction: column;
        max-width: 370px;
        margin: 1.5rem auto;
        
        
    }
    .home-container h1{
        font-size: 1.8rem;
    }
    .home-container p{
        font-size: 1rem;
        line-height: 1.7rem;
    }
    .home-container button{
        margin-top: 0.7rem;
        margin-left: 0.7rem;
        font-size: 0.8rem;
    }
    .logo-container{
        order: -2;
        margin: 2rem 0px;
    }
    
}