
.review-card img{
     max-width: 60px;
     margin: 0.5rem auto;
}
.review-card {
     width: 350px;
     
     border: 1px solid lightblue;
     border-radius: 15px;
}
.review-card p{
   margin-top: 4px;
   margin-bottom: 4px;
     width: 300px;
    
}
@media screen and (max-width:668px) {
     .review-card{
          margin: 0px auto;
     }
     .review-card h4{
          font-size: 1rem;
     }
    .review-card p{
         font-size: 0.9rem;
    }
     
}