.chart-container{
display: flex;
justify-content: center;
align-items: center;
gap: 0px 4rem;
}

@media screen and (max-width:668px) {
          .chart-container{
              flex-direction: column;
              
          }   
          .chart-container h1{
              text-align: center;
              font-size: 1.1rem;
          } 
}